{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    Dear {{ comment.author }},<br />

    <p>Your comment has been accepted, well done!</p>
    <p>Your comment:</p>
    <p>
        {{ comment.text }}
    </p>
{% endblock %}